ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    padding-right: 0.5rem !important;

    a {
        color: black;
        text-align: center;
        padding: 0.85rem 1rem !important;
        text-decoration: none;
        font-family: 'source-sans-regular';
        transition: all 1s !important; // para pisar el de boostrap

        &:hover {
            color: black;
            $primary-l: 50%;
            border-radius: 25px;
            background-color: hsl($primary-h, $primary-s, $primary-l);
        }
    }
}